<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="sgjzho22@liverpool.ac.uk">
    <title>CyberCipher - Cryptography Tool Set</title>
    <!-- Bootstrap CSS & Toast CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- personalized adjustment CSS -->
    <link rel="stylesheet" href="/static/css/cybercipher.css"/>
<body style="background-color: #e8e8e8">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand mt-2" href="#"><h4>CyberCipher</h4></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav">
                <ul class="text-center navbar-nav mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-target="affine">Affine Cipher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-target="shift">Shift Cipher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-target="vigenere">Vigenère Cipher</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>

    <div class="container">
        <div class="main-wrapper">
            <!-- Encryption / Decryption tool -->
            <div class="tool-section">
                <!-- Affine cipher -->
                <div class="cipher-card active" id="affine">
                    <div class="card mb-4 border-3 border-light">
                        <div class="card-body">
                            <h2 class="card-title mb-4">Affine Cipher</h2>

                            <div class="form-control mb-4" contenteditable="false" style="background-color: #e9ecef;">
                                <label class="mb-2"><b>Affine cipher</b> is a form substitution cipher that encrypts the numerical value of a letter by performing simple multiplicative and additive equations on it to obtain another letter corresponding to it;</label>
                                <label class="mb-2"><b>Encryption function</b>: F(x) = (ax + b) (mod m), where a and b are mutually prime and m is the number of letters;</label>
                                <label class="mb-2"><b>Decryption function</b>: F(x) = a-1(x - b) (mod m), where a-1 is the multiplicative inverse of a in the Zm group and m is the number of letters.</label>
                            </div>
                            
                            <div class="mb-4">
                                <label class="form-label fs-5">Origin Text</label>
                                <textarea class="form-control" id="originArea" rows="4"></textarea>
                            </div>
        
                            <div class="row g-3 mb-4">
                                <div class="col-md-6">
                                    <label for="key-a" class="form-label">Key A</label>
                                    <select type="number" class="form-select" id="key-a">
                                        <option value="" selected>Select...</option>
                                        {% for num in keyA %}
                                        <option value="{{ num }}">{{ num }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="key-b" class="form-label">Key B (number)</label>
                                    <input type="number" class="form-control" id="key-b" min="0">
                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-md-4 gap-1 mb-4">
                                <button class="btn btn-primary flex-grow-1" id="aff-encrypt">Encrypt</button>
                                <button class="btn btn-outline-primary flex-grow-1" id="aff-rdmkey">Random Encrypt</button>
                                <button class="btn btn-success flex-grow-1" id="aff-decrypt">Decrypt</button>
                                <button class="btn btn-outline-success flex-grow-1" id="aff-analysis">Cryptanalysis</button>
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label fs-5">Result Text</label>
                                <textarea class="form-control mb-1" id="resultArea" rows="4" readonly></textarea>
                                <button class="btn btn-outline-secondary mt-2 copy-btn">Copy Result</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shift cipher -->
                <div class="cipher-card" id="shift">
                    <div class="card mb-4 border-3 border-light">
                        <div class="card-body">
                            <h2 class="card-title mb-4">Shift Cipher</h2>
                            
                            <div class="form-control mb-4" contenteditable="false" style="background-color: #e9ecef;">
                                <label class="mb-2"><b>Shift cipher (Caesar cipher)</b>, one of the older symmetric encryption system, encrypts and decrypts strings of characters by shifting the letters by a certain amount of digits.</label>
                                <label class="mb-2">To encrypt, all the letters in the plaintext are shifted backward (or forward) a fixed number of digits in the alphabet and then replaced with the ciphertext, vise versa.</label>
                            </div>

                            <div class="mb-4">
                                <label class="form-label fs-5">Origin Text</label>
                                <textarea class="form-control" id="originArea" rows="4"></textarea>
                            </div>
        
                            <div class="row g-3 mb-4">
                                <div class="col-md-6">
                                    <label class="form-label">Key (1 letter / 1 number)</label>
                                    <input type="text" class="form-control" id="key-a">
                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-md-4 gap-1 mb-4">
                                <button class="btn btn-primary flex-grow-1" id="sft-encrypt">Encrypt</button>
                                <button class="btn btn-outline-primary flex-grow-1" id="sft-rdmkey">Random Encrypt</button>
                                <button class="btn btn-success flex-grow-1" id="sft-decrypt">Decrypt</button>
                                <button class="btn btn-outline-success flex-grow-1" id="sft-analysis">Cryptanalysis</button>
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label fs-5">Result Text</label>
                                <textarea class="form-control mb-1" id="resultArea" rows="4" readonly></textarea>
                                <button class="btn btn-outline-secondary mt-2 copy-btn">Copy Result</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Vigenere cipher -->
                <div class="cipher-card" id="vigenere">
                    <div class="card mb-4 border-3 border-light">
                        <div class="card-body">
                            <h2 class="card-title mb-4">Vigenère Cipher</h2>
                            
                            <div class="form-control mb-4" contenteditable="false" style="background-color: #e9ecef;">
                                <label class="mb-2"><b>Vigenère cipher</b> is an encryption method based on the Caesar cipher, an encryption algorithm that uses a series of Caesar ciphers to form a cipher alphabet, and belongs to a simple form of multi-table ciphers.</label>
                            </div>

                            <div class="mb-4">
                                <label class="form-label fs-5">Origin Text</label>
                                <textarea class="form-control" id="originArea" rows="4"></textarea>
                            </div>
        
                            <div class="row g-3 mb-4">
                                <div class="col-md-8">
                                    <label class="form-label">Keyword (pure text)</label>
                                    <input type="text" class="form-control" id="key-a">
                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-md-4 gap-1 mb-4">
                                <button class="btn btn-primary flex-grow-1" id="vig-encrypt">Encrypt</button>
                                <button class="btn btn-outline-primary flex-grow-1" id="vig-rdmkey">Random Encrypt</button>
                                <button class="btn btn-success flex-grow-1" id="vig-decrypt">Decrypt</button>
                                <button class="btn btn-outline-success flex-grow-1" id="vig-analysis">Cryptanalysis</button>
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label fs-5">Result Text</label>
                                <textarea class="form-control mb-1" id="resultArea" rows="4" readonly></textarea>
                                <button class="btn btn-outline-secondary mt-2 copy-btn">Copy Result</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- history-section -->
            <div class="history-section">
                <div class="card border-3 border-light">
                    <div class="card-body">
                        <div class="row mx-1 mb-1">
                            <div class="col-6">
                                <h5 class="card-title">Encrypt / Decrypt Histories</h5>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn btn-secondary" id="clear-history">Clear History</button>
                            </div>
                        </div>
                        
                        <div id="historyList" style="max-height: 745px; overflow-y: auto;">
                            <!-- history content, insert by JS script -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap JS + jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toast JS and Moment JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="/static/js/cybercipher.js"></script>
</body>
</html>